* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


#header::before {
  content: "";
  background-image: url(denys-nevozhai-D68ADLeMh5Q-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

#header {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav ul li {

  display: inline-block;
  margin: 10px 15px;

}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.header-text {
  text-align: center;
  margin-top: 25vh;
}

.neon {
  position: relative;
  z-index: 1;
  font-family: neon;
  color: #fb4264;
  font-size: 100px;
  text-shadow: 0 0 3vw #f40a35;
}

.flux {
  position: relative;
  font-family: neon;
  font-size: 100px;

}

.link {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 5rem;

}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 3s ease infinite;

}

@-webkit-keyframes neon {

  0%,
  100% {
    text-shadow: 0 0 3rem #fa1c16, 0 0 3rem #fa1c16, 0 0 10px #fa1c16,
      0 0 10rem #fa1c16, 0 0 0.4rem #28fe5d, 0.5px 0.5px 0.1rem #806914;
    color: #fed128;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@-webkit-keyframes flux {

  0%,
  100% {
    text-shadow: 0 0 3rem #10ff58, 0 0 3rem #10ff58, 0 0 10px #10ff58,
      0 0 10rem #10ff58, 0 0 0.4rem #8bfea8, 0.5px 0.5px 0.1rem #14801d;
    color: #b7f3c4;
  }
}


@media only screen and (max-width: 600px) {

  .neon {
    font-size: 50px;

  }

  .flux {
    font-size: 50px;

  }
}