* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #fff;

}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


#header {
  background-color: black;
  width: 100%;
  height: 100vh;
  transition: 1.5s ease;

}

#header::before {
  content: "";
  background-image: url(denys-nevozhai-D68ADLeMh5Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav ul li {
  display: inline-block;
  margin: 40px 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.header-text {
  text-align: center;
  margin-top: 20vh;
}

.neon {
  position: relative;
  font-family: neon;
  font-size: 100px;
  text-shadow: 0 0 3rem #fa1c16, 0 0 3rem #fa1c16, 0 0 10px #fa1c16,
    0 0 10rem #fa1c16, 0 0 0.4rem #28fe5d, 0.1rem 0.1rem 0.1rem #806914;
  color: #fed128;
  transition: 1.5s ease;
}

.flux,
span {
  position: relative;
  font-family: neon;
  font-size: 100px;
  text-shadow: 0 0 9px #10ff58, 0 0 2px #10ff58, 0 0 60px #10ff58,
    0 0 5rem #10ff58, 0 0 0.8rem #8bfea8, 0.1rem 0.1rem 0.1rem #14801d;
  color: #b7f3c4;
  transition: 1s ease;

}


.link {
  display: inline-block;
  justify-content: center;
  font-size: 40px;
  margin-top: 7rem;
  transition: 0.3s ease;
  text-decoration: none;
}

.link:hover {
  color: #70e78a;
  transform: translateY(-5px);
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: .99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.6;
  }
}

@media only screen and (max-width: 600px) {


  #header {
    height: 100vh;
  }

  .neon,
  .flux {
    font-size: 50px;

  }

  .link {
    font-size: 30px;
  }
}